<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <!-- load Poppins font from google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/template.css">
</head>
<body>
  <div class="header">Daily Task Tracker</div>
  <!-- navbar without logout link -->
  <div class="navbar">
      <a href="#landing" id="nav-landing">Home</a>
      <a href="#register" id="nav-register">Register</a>
      <a href="#dashboard" id="nav-dashboard">Dashboard</a>
      <a href="#admin" id="nav-admin">Admin</a>
  </div>
  <div id="weather"></div>
  <div id="content"></div>
  <script src="/script.js"></script>
</body>
</html>
